.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr);
  grid-template-rows: 200px minmax(0, 1fr);
  grid-template-areas:
    "header header"
    "left-sidebar main";
  background-color: #FFD967;
}

.header {
  grid-area: header;
}

.leftSidebar {
  grid-area: left-sidebar;
}

.main {
  grid-area: main
}
